<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tableId</key>
	<real>2000268</real>
	<key>colPos</key>
	<string>1,2,3,4,6,7,8,15</string>
	<key>rowCount</key>
	<string>50</string>
	<key>rowIdKey</key>
	<string>RowId</string>
	<key>col1</key>
	<string>Order ID</string>
	<key>col2</key>
	<string>Batch ID</string>
	<key>col3</key>
	<string>Area</string>
	<key>col4</key>
	<string>Batch Status</string>
	<key>col5</key>
	<string>Batch Product Material ID</string>
	<key>col6</key>
	<string>Recipe ID</string>
	<key>col7</key>
	<string>Guid</string>
	<key>col8</key>
	<string>UP Instance ID</string>
	<key>critCol1</key>
	<string>Order ID</string>
	<key>critCol2</key>
	<string>Batch ID</string>
	<key>dynamicQuery</key>
	<string>?Order ID=1000018823</string>
	<key>queryId</key>
	<string>68</string>
</dict>
</plist>
